html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

/* -------------CUBE START --------------- */
.all-cube-container {
  /* display: flex; */
}
.cube1-container {
  -webkit-perspective: 2000rem;
          perspective: 2000rem;
}
.cube1, .cube2, .cube3 {
  height: 33.3vh;
  width: 100vw;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.cube1-face, .cube2face, .cube3-face {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* ------- MAINEPAGE / NAVIGATION  -------*/
.front {
  background: #F8F8F8;
  -webkit-transform: rotateY( 0deg) translateZ( 50vw);
          transform: rotateY( 0deg) translateZ( 50vw);
}
/* ------ PAGE PROJETS ----- */
.back {
  background: #1F2421;
  -webkit-transform: rotateX( 180deg) translateZ( 50vw);
          transform: rotateX( 180deg) translateZ( 50vw);
}
/* ------ PAGE project ----- */
.right {
  background-color: #011627;
  -webkit-transform: rotateY( 90deg) translateZ( 50vw);
          transform: rotateY( 90deg) translateZ( 50vw);
}

.rotate-to-right {
  -webkit-animation: rotate-to-right 2s both;
          animation: rotate-to-right 2s both;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.rotate-right-to-front {
  -webkit-animation: rotate-right-to-front 2s both;
          animation: rotate-right-to-front 2s both;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/*-------- PAGE A PROPOS --------- */
.left {
  background-color: #10222F;
  -webkit-transform: rotateY( -90deg) translateZ(50vw);
          transform: rotateY( -90deg) translateZ(50vw);
}
/* utile mais pas tres visible */

.rotate-to-left {
  -webkit-animation: rotate-to-left 2s both;
          animation: rotate-to-left 2s both;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.rotate-left-to-front {
  -webkit-animation: rotate-left-to-front 2s both;
          animation: rotate-left-to-front 2s both;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* ------------- CUBE MAINPAGE --------------- */

.cube1-face-title, .cube2-face-title, .cube3-face-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  height: 100%;
  width: 100%;
}
.cube2-face-title, .cube3-face-title {
  border-top: 1px solid #000;
}

.hand-pointer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 5%;
}

.fa-hand-pointer {
  text-align: center;
}

.desktop {
  display: none;
}

/* ------------- CUBE LEFT A PROPOS --------------- */

.menu-btn, .menu-btn-right, .menu-btn-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 5vh;
  padding-top: 3vh;
  cursor: pointer;
}

.menu-btn-right {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
  padding-left: 3vw;
}

.menu-btn-back {
  padding-top: 2vh;
}

.cube-1-about-container, .cube-2-about-container, .cube-3-about-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 3.1vh;
  color: #fff;
  font-weight: bold;
}

.cube-2-about-container, .cube-1-about-container {
  color: #fff;
  text-align: center;
  margin-top: 0;
  line-height: 1.5;
}

.main-title {
  /* margin-top: 5.2vh; */
  font-size: 3vh;
}

.about-subtitle {
  margin-top: 5.5vh;
  font-size: 3vh;
}

.about-paragraphe-1 {
  font-size: 2vh;
}

.about-paragraphe-2 {
  font-size: 2vh;
  margin-top: 2vh;
}

.cube-3-about-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.8vh;
}

.cube-3-about-project-text {
  font-size: 2.2vh;
  color: #fff;
  margin-top: 3vh;
  margin-right: 3.5vw;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

/* ------------- CUBE BACK CONTACT --------------- */

.rotate-to-back {
  -webkit-animation: rotate-to-back 2s both;
          animation: rotate-to-back 2s both;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.rotate-back-to-front {
  -webkit-animation: rotate-back-to-front 2s both;
          animation: rotate-back-to-front 2s both;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.cube-1-contact-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2.3vh;
}

.gitHub {
  margin-top: 7vh;
}

.contact-title {
  text-align: center;
  font-size: 3vh;
  text-transform: uppercase;
}

.contact-icons{
  font-size: 12vh;
  margin-top: 5vh;
}

.contact-text {
  font-size: 2.5vh;
  margin-top: 1vh;
}

/* ------------- CUBE RIGHT PROJECTS --------------- */

.cube-1-project-container, .cube-2-project-container, .cube-3-project-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
}
.cube-2-project-container, .cube-3-project-container {
  border-top: 2px solid #fff;
}

.cube-1-project-natours, .cube-1-project-activeBox, .cube-1-project-pacman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cube-1-project-activeBox, .cube-1-project-pacman {
  margin-top: 2vh;
}

.activeBox-img {
  height: 60%;
   width: 100%;
}

.pacman-img {
  border-radius: 4%;
}

.cube-1-project-text, .cube-1-project-text, .cube-1-project-text {
  position: absolute;
  bottom: 1.5vh;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2vh;
  color: #fff;
}
/* keyframes identifier  */

/* KEYFRAMES GOING TO ABOUT PAGE */

@-webkit-keyframes rotate-to-left {
  0% {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(90deg) ;
            transform: scale(0.6) rotateY(90deg) ;
  }
  100% {
     -webkit-transform: scale(1) rotateY(90deg);
             transform: scale(1) rotateY(90deg);
  }
}

@keyframes rotate-to-left {
  0% {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(90deg) ;
            transform: scale(0.6) rotateY(90deg) ;
  }
  100% {
     -webkit-transform: scale(1) rotateY(90deg);
             transform: scale(1) rotateY(90deg);
  }
}

@-webkit-keyframes rotate-left-to-front {
  0% {
    -webkit-transform: scale(1) rotateY(90deg);
            transform: scale(1) rotateY(90deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(90deg);
            transform: scale(0.6) rotateY(90deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  100% {
     -webkit-transform: scale(1) rotateY(0deg);
             transform: scale(1) rotateY(0deg);
  }
}

@keyframes rotate-left-to-front {
  0% {
    -webkit-transform: scale(1) rotateY(90deg);
            transform: scale(1) rotateY(90deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(90deg);
            transform: scale(0.6) rotateY(90deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  100% {
     -webkit-transform: scale(1) rotateY(0deg);
             transform: scale(1) rotateY(0deg);
  }
}


/* KEYFRAMES GOING TO project PAGE */

@-webkit-keyframes rotate-to-right {
  0% {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(-90deg) ;
            transform: scale(0.6) rotateY(-90deg) ;
  }
  100% {
     -webkit-transform: scale(1) rotateY(-90deg);
             transform: scale(1) rotateY(-90deg);
  }
}

@keyframes rotate-to-right {
  0% {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(-90deg) ;
            transform: scale(0.6) rotateY(-90deg) ;
  }
  100% {
     -webkit-transform: scale(1) rotateY(-90deg);
             transform: scale(1) rotateY(-90deg);
  }
}

@-webkit-keyframes rotate-right-to-front {
  0% {
    -webkit-transform: scale(1) rotateY(-90deg);
            transform: scale(1) rotateY(-90deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(-90deg);
            transform: scale(0.6) rotateY(-90deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  100% {
     -webkit-transform: scale(1) rotateY(0deg);
             transform: scale(1) rotateY(0deg);
  }
}

@keyframes rotate-right-to-front {
  0% {
    -webkit-transform: scale(1) rotateY(-90deg);
            transform: scale(1) rotateY(-90deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(-90deg);
            transform: scale(0.6) rotateY(-90deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  100% {
     -webkit-transform: scale(1) rotateY(0deg);
             transform: scale(1) rotateY(0deg);
  }
}

/* KEYFRAMES GOING TO Contact PAGE */

@-webkit-keyframes rotate-to-back {
  0% {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(180deg);
            transform: scale(0.6) rotateY(180deg);
  }
  75% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(180deg);
            transform: scale(1) rotateX(180deg);
  }
}

@keyframes rotate-to-back {
  0% {
    -webkit-transform: scale(1) rotateY(0deg);
            transform: scale(1) rotateY(0deg);
  }
  25%{
    -webkit-transform: scale(0.6) rotateY(0deg);
            transform: scale(0.6) rotateY(0deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(180deg);
            transform: scale(0.6) rotateY(180deg);
  }
  75% {
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(180deg);
            transform: scale(1) rotateX(180deg);
  }
}

@-webkit-keyframes rotate-back-to-front {
  0% {
    -webkit-transform: scale(1) rotateX(180deg);
            transform: scale(1) rotateX(180deg);
  }
  25%{
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(180deg);
            transform: scale(0.6) rotateY(180deg);
  }
  75% {
     -webkit-transform: scale(0.6) rotateY(0deg);
             transform: scale(0.6) rotateY(0deg);
  }
  100%{
    -webkit-transform: scale(1) rotateX(0deg);
            transform: scale(1) rotateX(0deg);
  }
}

@keyframes rotate-back-to-front {
  0% {
    -webkit-transform: scale(1) rotateX(180deg);
            transform: scale(1) rotateX(180deg);
  }
  25%{
    -webkit-transform: scale(1) rotateY(180deg);
            transform: scale(1) rotateY(180deg);
  }
  50% {
    -webkit-transform: scale(0.6) rotateY(180deg);
            transform: scale(0.6) rotateY(180deg);
  }
  75% {
     -webkit-transform: scale(0.6) rotateY(0deg);
             transform: scale(0.6) rotateY(0deg);
  }
  100%{
    -webkit-transform: scale(1) rotateX(0deg);
            transform: scale(1) rotateX(0deg);
  }
}

@media (min-width: 767px) {
  .main-title {
    font-size: 4vh;
  }

  .about-subtitle {
    font-size: 4vh;
  }

  .about-paragraphe-1, .about-paragraphe-2, .cube-3-about-project-text,   .cube-1-project-text{
    font-size: 3vh;
  }
}
@media (min-width: 1023px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .contact-icons {
    font-size: 12vh;
    margin-top: 3vh;
  }
}
